
<div class='section-title' id='section-leadership'>
  Leadership:Executive Officer 2014
</div>
<div class='section-content' id='leadership-content'>
  President...VP...
</div>

<div class='section-title' id='section-scholarship'>
  Scholarship:Academics
</div>
<div class='section-content' id='scholarship-content'>
  Scholar of the Month Program ....
</div>

<div class='section-title' id='section-scholarship'>
  Service:Dedication to Philanthropy
</div>
<div class='section-content' id='scholarship-content'>
  Collectively, we have contributed thousands of hours and raised thousands of dollars to benefit over twenty different causes. Not only do sorority members donate their time to help their nationally-affiliated philanthropies and foundations, but also to help our local community. Examples include our immense participation in the Berkeley Project, tutoring Berkeley and Oakland youth, and hosting both our annual Trick-or-Greek event, in which we open our chapter homes to local elementary school children for Halloween activities and candy, and our Greek-wide clean-ups, in which members from each chapter help clean the streets of the city of Berkeley.
</div>
<div class='about-sidebar'>
  <% include sidebar %>
</div>
