
<head>
<link href="/stylesheets/philip-style.css" rel="stylesheet">
</head>
<div class='window-content' id='resources-content'>
  <div class='section-title' id='section-jobs'>
    Jobs and Opportunities
  </div>
  <div class='section-content' id='jobs-content'>
    On this page you can find jobs and opportunities that are have been passed along specifically to the Greek community. If you wish to pass along an opportunity, please click <a href='mailto:phc.communications@calgreeks.com'>here</a> and send a message. Be sure to include a brief description of the job, contact information, and how to apply. Good luck!
    <br>
    <a href='http://media.wix.com/ugd/939f22_2fb96198c65c4e93884cf87878df1f38.pdf' target='_blank'>ATO Foundation Leadership Awards Scholarship Application</a>
  </div>

  <div class='section-break'></div>

  <div class='section-title' id='section-newsletter'>
    No Matter the Letters
  </div>
  <div class='section-content' id='newsletter-content'>
    The PHC Newsletter "No Matter the Letters" is published every two weeks and distributed to chapter delegates at PHC meetings, and distributed via email to every Panhellenic sorority woman. The goal of the newsletter is to keep chapters informed of what PHC is doing, make chapters aware of resources available to them, and publicize upcoming Greek events
    <br>
    <ul>
      <a href='http://media.wix.com/ugd/939f22_b0a8c073ab4944ce8dc040306e82fb95.pdf' target='_blank'><li>March 12, 2014</li></a>
      <a href='http://media.wix.com/ugd/939f22_019c30bd669f4c72b11d9bc1161e0600.pdf' target='_blank'><li>February 26, 2014</li></a>
      <a href='http://media.wix.com/ugd/939f22_7434a3342d024c87bfe829df274474bd.pdf' target='_blank'><li>February 12, 2014</li></a>
      <a href='http://media.wix.com/ugd/939f22_0851618d6b1d4a659cee938f40f89033.pdf' target='_blank'><li>January 29, 2014</li></a>
      <a href='http://media.wix.com/ugd/939f22_883376f7a0ea41118262ae601e750763.pdf' target='_blank'><li>November 13, 2013</li></a>
    </ul>
  </div>

  <div class='section-break'></div>
  
  <div class='section-title' id='section-delegate-minutes'>
    Delegate Council Minutes
  </div>
  <div class='section-content' id='delegate-minutes-content'>
    Delegate Council Minutes for 2014 are available here:
    <ul>
      <a href='http://media.wix.com/ugd/939f22_d22bf3da23834a61a98cadc05f27310f.pdf' target='_blank'><li>April 2, 2014</li></a>
      <a href='http://media.wix.com/ugd/939f22_898f9b6cdcf2450db61b7a1b23b0e1e3.pdf' target='_blank'><li>March 12, 2014</li></a>
      <a href='http://media.wix.com/ugd/939f22_c320d86ed8124d288e3b68e88d1f8b9c.pdf' target='_blank'><li>February 26, 2014</li></a>
      <a href='http://media.wix.com/ugd/939f22_b022b87cdb40447da935f675830a48fb.pdf' target='_blank'><li>February 12, 2014</li></a>
      
    </ul>
  </div>
  <div class='about-sidebar'>
    <% include sidebar %>
  </div>
</div>
 



