<div class='window-content' id='recruitment-content'>
  <!-- CHANGE THIS CONTENT -->
  <div class='section-title' id='title-fall'>
    Fall Formal Recruitment 2014
  </div>

  <div class='section-content' id='content-fall'>
    <p> Registration for Fall Formal Recruitment opens on April 12th! tinyurl.com/ffr2014</p>
    <p> Through a mutual-selection process, potential new members (PNMs) have the opportunity to meet active chapter women and visit all thirteen chapter houses. As the week progresses, both PNMs and chapters will narrow their choices. At the end of the week, bids to chapters are extended. </p>
    <!-- PUT SOME IMAGE CAROUSEL -->
    <h1>RECOMMENDATION LETTERS:</h1>
      <p>If you are a former member of one of the sororities here at Cal and your daughter, sister, or niece is going through recruitment, you can send your organization a letter of recommendation.</p>

      <p>Recommendation letters should be sent to the chapter President or Vice  President Membership. Please see the "Chapters" page above and click on the House Map for addresses. It’s suggested that you send the recommendation letter before August 20.</p>
  </div>

  <div class='section-title' id='title-parent'>
    Parent Information & FAQ
  </div>

  <div class='section-content' id='content-parent'>
  </div>

  <div class='section-title' id='title-whattowear'>
    What to Wear to Recruitment
  </div>

  <div class='section-content' id='content-whatowear'>
  </div>

  <div class='section-title' id='title-pnm'>
    PNM Bill of Rights
  </div>

  <div class='section-content' id='content-pnm'>
  </div>


  <div class='section-title' id='section-rc'>
    Recruitment Counselors
  </div>

  <div class='section-content' id='content-rc'>
  </div>

  <div class='section-title' id='title-cob'>
    Spring COB
  </div>
  
  <div class='section-content' id='content-cob'>
  </div>

  <div class='about-sidebar'>
    <% include sidebar %>
  </div>

</div>


