<div class='window-content' id='recruitment-content'>
  <!-- CHANGE THIS CONTENT -->
  <div class='section-title' id='section-jobs'>
    Jobs and Opportunities
  </div>
  <div class='section-content' id='jobs-content'>
    On this page...
  </div>

  <div class='section-title' id='section-newsletter'>
    No Matter the Letters
  </div>
  <div class='section-content' id='newsletter-content'>
    The PHC Newsletter "No Matter the Letters"...
  </div>

  <div class='section-title' id='section-delegate-minutes'>
    Delegate Council Minutes
  </div>
  <div class='section-content' id='delegate-minutes-content'>
    Delegate Council Minutes for 2012 are available <a href='...'>here</a>
  </div>
  <div class='about-sidebar'>
    <% include sidebar %>
  </div>

</div>


