<div class='window-content' id='recruitment-content'>
  <!-- CHANGE THIS CONTENT -->
  <div class='section-title' id='title-fall'>
    Fall Formal Recruitment 2014
  </div>

  <div class='section-content' id='content-fall'>
    <p> Registration for Fall Formal Recruitment opens on April 12th! tinyurl.com/ffr2014</p>
    <p> Through a mutual-selection process, potential new members (PNMs) have the opportunity to meet active chapter women and visit all thirteen chapter houses. As the week progresses, both PNMs and chapters will narrow their choices. At the end of the week, bids to chapters are extended. </p>
    <!-- PUT SOME IMAGE CAROUSEL -->
    <h4>RECOMMENDATION LETTERS:</h4>
      <p>If you are a former member of one of the sororities here at Cal and your daughter, sister, or niece is going through recruitment, you can send your organization a letter of recommendation.</p>

      <p>Recommendation letters should be sent to the chapter President or Vice  President Membership. Please see the "Chapters" page above and click on the House Map for addresses. It’s suggested that you send the recommendation letter before August 20.</p>
    <h4>EXTRA/ADDITIONAL ACCOMMODATIONS OR NEEDS:</h4>
      <p> We encourage everyone to participate in the recruitment process. For disability accommodation requests and information, please contact Disability Access Services (http://access.berkeley.edu): 510-643-6456 (voice) or 510-642-6376 (TTY) for Communication Services, or accessibility@berkeley.edu for Mobility Access requests. </p>

    <h4>NONDISCRIMINATION NOTICE:</h4>
      <p>The University of California, in accordance with applicable federal and state law and University policy, prohibits discrimination, including harassment, on the basis of race, color, national origin, religion, physical and mental disability, medical condition (cancer-related or genetic characteristics), ancestry, marital status, age, sexual orientation, citizenship, or status as a covered veteran (special disabled veteran, Vietnam-era veteran, or any other veteran who served on active duty during a war or in a campaign or expedition for which a campaign badge has been authorized). This nondiscrimination policy covers admission, access, and treatment in University programs and activities.</p>

    <h4>ACADEMIC RECORD RELEASE:</h4>
      <p>I understand that to register for recruitment, I must be a regularly enrolled full-time UC Berkeley or UC Berkeley Fall Program for Freshmen student in good standing with the University of California, Berkeley. I authorize the University of California, Berkeley Center for Student Leadership and Panhellenic Association to verify my academic eligibility.</p>

    <p>If you have any questions, please contact the Vice President of Membership, Alexis Newman, at phc.membership@calgreeks.com.<p>
﻿
      <h4>Note:</h4>
      <p> The thirteen chapters recognized by the National Panhellenic Conference (Alpha Chi Omega, Alpha Delta Pi, Alpha Omicron Pi, Alpha Phi, Chi Omega, Delta Delta Delta, Delta Gamma, Gamma Phi Beta, Kappa Alpha Theta, Kappa Kappa Gamma, Pi Beta Phi, Sigma Kappa, and Zeta Tau Alpha) participatE in Fall Formal Recruitment. Our affiliate chapter, Omega Phi Beta, does not participate in the formal recruitment process.</p>
  </div>

  <div class='section-title' id='title-parent'>
    Parent Information & FAQ
  </div>

  <div class='section-content' id='content-parent'>

    <em>What exactly is recruitment and how do I join a sorority?</em>
 
    <p>Recruitment is the mutual selection process through which potential new members (PNMs) meet active members of the Greek Community. Over four days, PNMs will visit all twelve Panhellenic chapters and have the opportunity to find out what Greek life at Cal is all about. As the week progresses, both the chapters and the potential new members narrow down their selections. On the final day of recruitment, after a mutual bid-matching process, PNMs receive an invitation to join a chapter.</p>

    <em>Academics and Greek Life</em>
    <p>Academic excellence is a primary focus of all the Greek-letter organizations at the University of California, Berkeley. Sorority women are held to high academic standards. Each individual chapter has set standards for academic performance that requires members to have specific grade point averages to be in good standing. In order to meet this standard, Greek chapters develop programming based on their chapter members’ needs. Programming topics include study skill techniques and time management seminars. Panhellenic is proud that the Greek women’s average is consistently higher than the Cal all-women’s average.</p>
﻿
﻿
    <em>How Much of a Time Commitment Is It?</em>
    <p>Participating in a Greek-letter organization is like participating in any co-curricular activity; it requires a time investment. Students in the Greek Community at Cal have the opportunity for a well-rounded college experience that involves academic work and campus involvement, as well as social events. As they say, you get out of a sorority what you put in. You can choose your level of involvement, whether you decide to be a member or the President.</p>
﻿
​     <em>Do Chapters Haze?</em>
    <p> The national fraternity and sorority organizations, the University of California, Berkeley, Panhellenic Council and state law prohibit any action taken, or any situation created, whether on or off sorority premises, that may produce mental or physical discomfort, embarrassment, harassment, or ridicule. Hazing is forbidden and will not be tolerated at the University of California, Berkeley.</p>
​
    <em>What is Formal Fall Recruitment Week?</em>
    <p>Recruitment week has been created to enable you to learn about what the Greek Community stands for. We have taken every precaution to ensure the week is enjoyable, comfortable, and fun. Recruitment week is your opportunity to meet many different women in the twelve chapters on campus. Each individual chapter shares common goals and values, yet each cultivates its own unique personality. There is truly a place for every woman interested in joining a chapter, which is why it is important to recognize the different aspects each chapter has to offer when making your selection. It is important to choose a sorority in which you feel comfortable, one which allows you to be yourself, and one that matches your interests and motivations to challenge and strengthen you through the years.</p>
﻿
    <em>Who are Recruitment Counselors?</em>
    <p>Panhellenic trains a special group of 36 women, known as Recruitment Counselors, for the purpose of providing a more enjoyable and less stressful atmosphere during membership recruitment week. All Recruitment Counselors remain disaffiliated during Recruitment Week. Disaffiliation enables recruitment counselors to answer questions and guide potential members without bias or preference to a particular chapter. Your Recruitment Counselor will provide information about the week, accompany you to recruitment week functions, and provide a listening ear as you make decisions concerning sorority membership. Approximately 20 women will join you as members of a recruitment group.</p>
﻿
    <p>Panhellenic chooses recruitment counselors based on enthusiasm for Cal and sorority life, objectivity and dependability. Take advantage of your recruitment counselor because she can offer valuable information regarding sorority life, academic classes and other opportunities waiting for you at Cal. Her job during Recruitment Week is to help you and make the week easier for you in whatever way she is able.</p>
﻿
﻿
    <em>What are the Financial Requirements?</em>
    <p>Joining a Greek organization does entail a financial commitment, but it is important to realize this commitment is considerably less than the costs of housing, food, and entertainment for the average Cal student living in the residence halls. The average cost per semester of sorority membership (including dues, rent and food) ranges from $3,500 to $4,200. The first semester of membership is slightly more expensive than the second because of one-time initiation costs. The first semester dues average at around $2,000 and the second semester at $1,500.</p>
﻿
    <p>Living in a sorority is one of the most economical ways to live near campus. Berkeley residence halls cost between $5,000 and $6,000 each semester. Renting an apartment near campus generally costs over $1,000 a month with leases starting in June (not including food or furnishings). Sororities, in addition to housing services, provide food, furnishings, utilities, a managing staff, and most importantly emergency and security measure to provide a safe environment and a home away from home.</p>
﻿
    <em>Which Chapters Participate in Fall Formal Recruitment?</em>
    <p>Alpha Chi Omega, Alpha Delta Pi, Alpha Omicron Pi, Alpha Phi, Chi Omega, Delta Delta Delta, Delta Gamma, Gamma Phi Beta, Kappa Alpha Theta, Kappa Kapp Gamma, Pi Beta Phi, Sigma Kappa, and Zeta Tau Alpha will all be participating in FFR 2014. Omega Phi Beta, our affiliate chapter, is not an organization recognized by the National Panhellenic Conference, and hence does not participate in the Panhellenic Council’s Formal Recruitment.</p>
﻿
    <em>Is Summer Housing Available?</em>
    <p>Our housed sororities do not provide summer housing. Many of the fraternities, which can be found on CalGreeks.com, do offer housing. Since they are private residences, we ask that all inquires be made directly to the organization. We do not compile housing lists but each organization can tell you whether they have openings and what the process looks like.</p>
﻿
    <p>All the information is located on their websites. The university does not endorse one location over another and each person interested should follow the same process as if they were looking for rooming in any other house.</p>
﻿
    <em>What is the Dress Code for Recruitment?</em>
    <p>Detailed information about dress code expectations will be given during our mandatory Orientation. In short -
    <ul>
      <li>Unity Day: Something comfortable and casual. (Ie: shorts with a tank top or shirt, with comfortable shoes)
      <li>House Tours: A sundress or skirt with flats or sandals.
      <li>Philanthropy Night: Business casual. (Ie: Pants or skirt with a blouse, with flats)
      <li>Preference Night: Business casual or something that you would wear to nice dinner or wedding. (Ie: Cocktail dress, with heels)
    </ul>
 
    <em>How should I prepare for Formal Recruitment?</em>
    <p>There are no required documents you have to bring to Recruitment. The only mandatory action is that you sign up for Recruitment and pay the Recruitment fee prior to the deadline. You also must attend the mandatory orientation night. Letters of Recommendation are optional and purely serve as a prior introduction to the chapters before you get to introduce yourself to them!</p>
 
    <em>Am I required to live in the sorority house my first year?</em>
    <p>No. We actually encourage our members to live in the dorms and fully enjoy the dorm experience. Most women choose to live in their sophomore and continuing years to take full advantage of the beautiful facilities!</p>
  </div>

  <div class='section-title' id='title-whattowear'>
    What to Wear to Recruitment
  </div>

  <div class='section-content' id='content-whatowear'>
    <h4>Unity Day</h4>
    <p> The first day is casual, so jeans or shorts are suitable. Comfortable walking shoes are recommended. </p>

    <h4>House Tours</h4>
    <p>This day is slightly more formal than Unity Day, so a sundress or nice jeans and a blouse are appropriate.</p> 

    <h4>Philanthropy Day</h4>
    <p>The attire for this day is business casual, so a dress or dress pants are appropriate.</p>

    <h4>Preference Night</h4>
    <p>As this is the most formal night of recruitment, business casual to semi-formal is appropriate.</p>
  </div>

  <div class='section-title' id='title-pnm'>
    Potential New Member Bill of Rights
  </div>

  <div class='section-content' id='content-pnm'>
    <h4>University of California, Berkeley 
Panhellenic Council (PHC) Potential New Member Bill of Rights</h4>
    <p>You have…
      <ul>
        <li>The right to be treated as an individual. 
        <li>The right to be fully informed about the recruitment process. 
        <li>The right to ask questions and receive true and objective answers. 
        <li>The right to be treated with respect. 
        <li>The right to be treated as a capable and mature woman without being patronized. 
        <li>The right to ask how and why and receive straight answers. 
        <li>The right to have and express opinions to Recruitment Counselors. 
        <li>The right to have inviolable confidentiality when sharing information with Recruitment Counselors. 
        <li>The right to make informed choices without undue pressure from others. 
        <li>The right to be fully informed about binding agreements implicit in the acceptance card signing. 
        <li>The right to make one’s own choice and decision while accepting full responsibility for results of that decision. 
        <li>The right to have a positive, safe, and enriching Recruitment and New Member experience!
      </ul>
    </p>
  </div>


  <div class='section-title' id='section-rc'>
    Recruitment Counselors
  </div>

  <div class='section-content' id='content-rc'>
    <h3>Meet Our 2014 Recruitment Counselors!</h3>
    <p>Recruitment counselors provide encouragement, guidance and support during fall sorority recruitment and beyond. She leads you from chapter to chapter, keeps track of your party schedules, and is there for you 24 hours a day when you need advice or unbiased opinions. Your recruitment counselor is your connection to the world of Panhellenic sororities as you begin the recruitment process. Go Bears and Go Greek!</p>

    <em>Sarah Healy</em>
    <p>Hi friends! My name is Sarah Healy and I’m a junior majoring in media studies and minoring in public policy. My favorite experience at Cal was attending the first football game back at Memorial Stadium my freshmen year- there’s nothing better than seeing that Cal pride! My hobbies include a little bit of everything. I love camping, swimming, and going to concerts. I’m also on Cal Climbing! Being Greek has helped me make a deeper connection with the Cal community as well as allowing me to create lifelong friendships inside and outside of my chapter. I’m so pumped to help you explore this awesome community in the Fall!</p>

    <em>Kathleen Sheffer</em>
    <p>My name is Kathleen Sheffer and I’m a third year Architecture major from Santa Rosa, California. My favorite experiences at Cal have been times when I find connections between different classes. Who knew that Architectural History covers some of the same topics as Global Poverty! I love geeking out about that kind of stuff as well as doing art projects and visiting construction sites! I am so proud to be a part of the Greek community and to have met so many amazing people. Joining a sorority has given me so many opportunities, from fun activities and adventures I never imagined to leadership experience and internships. I am excited help you find the right fit so you can have an incredible experience like I have!</p>

    <em>Emma Fine</em>
    <p>Hey Ladies! My name is Emma Fine and I’m a second year intended Public Health major from Denver, Colorado. My favorite experience at Cal was the Homecoming-Weekend football game where we won against UCLA in a huge upset! Some of my passions outside of school include running (the BEST way to de-stress), photography, and exploring the amazing food places around me. The best thing about the Greek system is the small-school feel you get amongst an incredibly large university; coming from Colorado I didn’t know anyone! The greek system truly is a home away from home. I am stoked for Fall Formal Recruitment and I cannot wait to meet the awesome ladies ready to better the Cal Greek Community. Go Bears!</p>

    <em>Fiona Ho</em>
    <p>Hi everyone! My name is Fiona Ho, and I’m a third year Architecture major and minoring in Sustainable Design. Cal Day is most definitely my favorite memory of Cal so far- it’s the best day of the year for a reason! In my free time, I love hiking, going to shows, and exploring San Francisco with friends. Being a part of the Greek Community has allowed me to be a part of so many fun activities that I would have never imagined participating in, and meeting remarkable people along the way is just a perk. I’m beyond excited to meet you all during Fall Formal Recruitment and to show you some of the amazing things Cal Greeks has to offer!</p>

    <em>Taylor Hanson</em>
    <p>Hi! My name is Taylor Hanson and I’m a third year majoring in Political Science. I grew up in Bakersfield, California (shout out to my other Central Valley kids!) but I feel most at home in the Bay Area. I’m an avid reader, an unapologetic television consumer, and an aspiring chef. Also, I’m obsessed with sports. You can always catch me in some Cal gear attending every basketball and football game. Some of my favorite memories at Berkeley include getting to rush the court after our basketball team upset #1 Arizona, and attending the annual Greek-wide San Francisco Giants night. I am so excited to meet you all, share in some Cal pride, and help you find your place in our Greek family! And, as always, GO BEARS!</p>

    <em>Ali Conrad</em>
    <p>Hi! My name is Ali Conrad and I'm a sophomore majoring in Economics and Public Policy. I'm from San Diego but over the past two years the Bay has become my home. My favorite Cal memory was going mud sliding in the middle of the night in the pouring rain- probably the most spontaneous thing I've ever done. I love playing soccer, discovering new restaurants and going to concerts. Going Greek helped make Berkeley a home away from home, allowing me to find great friends inside and outside of my chapter. I'm so stoked for Fall Formal Recruitment and to help you all find a home you'll love!</p>

    <em>Erika Brink</em>
    <p>Hey everyone! My name is Erika Brink and I’m a third year intended English and Political Economy double major. I went to high school in Temecula, California but I’m originally from Las Vegas, Nevada. Now I absolutely love living in the Bay, and I don’t want to leave! I love to spend my free time exploring the Bay with friends, trying new restaurants, hiking, and going to fun concerts and events. I love game days, and one of the best football games I’ve been to was our insane victory over UCLA at homecoming my freshman year. I am so lucky to be a part of the diverse, spirited, and inspirational Greek environment here at Cal, and I can’t wait to welcome you all to this awesome community in the Fall!</p>

    <em>Alex Morton</em>
    <p>Hello! My name is Alex Morton, and I’m a third year English major here at Cal. I’m from Newport Beach, California and I love the fact that Cal is the perfect home away from home - not too far away, and just close enough to be able to see my family relatively often. I’m really into swimming in the ocean (or any body of water, really), reading, playing volleyball, and doing yoga (when I can!). The Greek community here at Cal is so rad and there are so many awesome people to meet and befriend. I’m looking forward to meeting everyone interested in going Greek and helping them through the process of finding their own home away from home at Cal!</p>

    <em>Morgan Raymond</em>
    <p>Hello! My name is Morgan Raymond and I am a second year. I am majoring in Cognitive Science with a potential double in the History of Art. I’m from Dana Point, California - but I absolutely love the Bay Area! Although I have many fond memories of my past couple of years at Berkeley, one of my favorites has to be when we beat UCLA in the homecoming game in 2012. During my free time I love to hike, practice yoga and explore all of the yummy restaurants Berkeley has to offer. My favorite thing about the Greek community at Cal is how inclusive everyone is. I have made life-long friendships with women not only my own chapter, but within other chapters as well. I have found a sense of family within the Panhellenic community, and I am so excited to help young women like me find friendship and sisterhood by going Greek!</p>

    <em>Diana Buck</em>
    <p>Hi everybody! I’m Diana Buck, and I’m a Junior at Cal studying English and Legal Studies. I’m originally from Philadelphia (woo out of state!), and I’m studying abroad in Australia in the spring. One of my favorite experiences at Berkeley so far was when I went to a rock climbing gym with some friends and we made a big trip of it all. It was great to take advantage of one of the countless opportunities around Berkeley and do something fun. My favorite thing about the Greek community is that it’s just that--a community. I love the sense of belonging and going to other house’s awesome events. In what spare time exists in my life (or when I’m avoiding work) I like to hike, read all kinds of stuff (even comic books!), and I’m part of the Cal fencing club. I’m super excited to meet everyone and help with Fall Recruitment. :)</p>

    <em>Kendle Kuechle</em>
    <p>Hi ladies! My name is Kendle Kuechle and I'm a second year from sunny Seattle, Washington (just kidding, it rains all the time). I love everything here at Cal, but my favorite experiences would have to be spending time with all the great friends I've made here, in and out of the Greek system: walking to the Big C, spontaneous trips to San Francisco, or just trying new restaurants around town! When I'm not in class I love to be outside: swimming, hiking, etc., and I also love to play the piano. Going Greek was one of the best decisions I've ever made, as I've found true friends and an incredible support system. I can’t wait to help you find your own home here at the best school in the world!</p>
  
    <em>Sarah Wemmer</em>
    <p>Hi friends! My name is Sarah Wemmer and I’m a third year from Berkeley! I couldn’t bear (pun intended) to leave the Bay, so I stuck around to major in Chemistry. I love so much about UC Berkeley, but some of my favorite memories include lighting lanterns and letting them fly across the bay with my sisters, playing with my friends in puddles after it rains, and the many coffee breaks I’ve taken at cafes all over the city. When I’m not stuck in lab playing with chemicals or studying, I’m outside - I like to pretend I can photosynthesize - so I read and play on memorial glade as much as possible. I hope that you all can find a home in the Greek system like I have, and create as many amazing memories in your short time here! I am beyond excited to meet you all!!</p>

    <em>Jordan Zola</em>
    <p>Hey there! My name is Jordan Zola and I am a 3rd year here at Berkeley, double majoring in Business Administration and Psychology. I am from Santa Barbara, California and will always love the beach and sun. One of my favorite things about the Greek community is the inspiration, both academically and socially, that I have experienced from this group of truly amazing women. While my first home away from home here at Cal was the greek system, one of my favorite experiences in college has been helping to plan the UC Berkeley Relay for Life event. In my spare time, I like to run, eat at all of the area’s wonderful restaurants, and hike through the Berkeley hills. I can’t wait to help all of you through the wonderful experience that is Fall Formal Recruitment!</p>

    <em>Kyara Dorvee</em>
    <p>Hey everybody! My name is Kyara Dorvee and I'm a third year majoring in Peace and Conflict Studies and minoring in Arabic. I'm from Portland, Maine and love being here on the west coast! Taking trips into the city, hiking up to the Big C, and studying at Strada are some of my favorite past times here at school. Honestly, one of my favorite experiences since being a part of the Greek community has been being a recruitment counselor for Fall Formal Recruitment last fall. Being able to help other collegiate women find a chapter that gives them as much support and inspiration as my own does. I have loved being a part of Greek life here at Cal and working with over 40 other Greek women to help with that process was so wonderful that I just couldn't help but do it again! I can't wait to see all your lovely faces and welcome [back] to Cal!</p>

    <em>Emily Lysaght</em>
    <p>Hi everyone :) My name is Emily Lysaght and I am a third year Molecular Cell Biology major. I am from Glasgow, Scotland where I lived till I was nine, before moving to Los Gatos, California. One of my favorite experiences at Cal was working at the game when our men’s basketball team beat the number one ranked Arizona and the entire crowd rushed the court in celebration. Some of my favorite activities include exploring Berkeley with my friends, eating frozen yogurt, and running. My favorite part of the Greek community is the chance to make lasting friendships with people who inspire and challenge me. I am really excited to be a part of this Fall Formal Recruitment and help each of you start your experience with the Greek community.</p>
  
    <em>Tabitha Peterson</em>
    <p>Hello! :) My name is Tabitha Peterson and I am second year majoring in Political Science and minoring in Education. I come from a small rural town in Northern California called Sutter. My best experiences at Cal always seems to be linked to game days. The immense amount of school spirit truly makes you feel like you are apart of something great. Go bears! I love trying out new foods, mentoring at local elementary schools, and spending a great amount of time drinking coffee at Cafe Milano. My favorite part about being apart of the Greek community is the amount of support you receive. Whenever you want to spread the word about a club you are apart of or raise money for a cause you are passionate about, you can count on a huge group of motivated individuals to stand with you in support. I am so excited to be a recruitment counselor this year and I can’t wait to ensure that you all have a great experience!</p>

    <em>Gillian Jacobsen</em>
    <p>Hi! I'm Gillian Jacobsen, a 3rd year majoring in Microbial Biology here at Cal. I'm from Santa Monica (Los Angeles), CA but I have to say that I love the Bay Area. My favorite experience at Cal has simply been meeting all of the wonderful people that I have come to call my friends, many of them through the Greek community. I am also grateful for all the concerts that I have been able to experience since coming to Cal. Skiing is one of my passions and I try to get up to Tahoe as often as possible. I also like to sing, play guitar, and ride my bike. I have had the best time in my years here getting to know sisters in my sorority as well as men and women in other Greek chapters, and I hope you get the same experience when you join a chapter at Berkeley! Hope to see you at Fall Formal Recruitment!</p>

    <em>Emily Gilden</em>
    <p>Hi! My name is Emily and I'm a second year bioengineer minoring in education. I'm from sunny San Diego, so when I'm home, you can find me at the beach playing frisbee, frolicking in the sand, or mobbing the waves. When I'm at school, you can still find me frolicking and playing frisbee on Memorial Glade. I love being a part of the Greek community for all the opportunities it has given me to grow as a person and make the most out of my college experience. I can't wait for all of you to get those same experiences! GO BEARS!</p>

    <em>Rachel Gross</em>
    <p>Hi all! My name is Rachel Gross and I am a second year business major. I’m from Sacramento where I love to ride my bike and take walks along the American River near my house. My favorite experience at Cal has been moving into my sorority house where I have an excuse to hang out with my best friends 24/7! I love to play sports and I can be seen at every football game cheering on our Golden Bears! Being a part of the Greek community has allowed me to make amazing friendships that have made my experience at Cal truly worthwhile. Even though Berkeley is so close to home, I came to school hardly knowing anyone. Now I feel more at home here than anywhere else and I can’t imagine ever wanting to leave! I can’t wait to meet everyone and help you all find your own home away from home too!</p>

    <em>Lexa Horsley</em>
    <p>Hi everyone! My name is Lexa and I'm a second year Cognitive Science and Political Economy double major. I'm from San Diego so two of my favorite things when I'm home are going to the beach and eating Mexican food for practically every meal. Being 500 miles away from all my friends and family is difficult, but the Greek community has definitely provided me with a second home in Berkeley! I've definitely met my best friends through Greek life here, and I can't be more grateful for Panhellenic helping me find a home here. I have so many great memories of adventures to San Francisco and around Berkeley, so I can't pick just one as a favorite, but there are so many things you can do in the bay that there's never a dull moment! I love snowboarding, graphic design, and generally finding new food places or other cool adventures around Berkeley! I can't wait to help you all find your home at Cal too! Go Bears!</p>

    <em>Melanie Cernak</em>
    <p>Hey everyone! My name is Melanie and I’m a third year Business Administration major. I grew up in Seattle but decided to leave Washington and follow the sunshine down the coast to Berkeley. As an out of state student, the Greek community has provided me with a close-knit community that makes me feel at home. One of my favorite things about the Greek community is the diversity and involvement that Panhellenic women exemplify on campus. Some of my favorite experiences at Cal have been spontaneous adventures with my sisters to Hardly Strictly Bluegrass Festival in San Francisco, Art Murmur in Oakland, and Stinson Beach in Marin! In my free time, I enjoy creative writing, musical theatre, and learning to write with my left hand. Joining a sorority has been an absolutely wonderful experience for me and I can’t wait to help navigate you all through Fall Formal Recruitment to find the chapter of your dreams!</p>

    <em>Rachel Namson</em>
    <p>Hiya folks! My name is Rachel Namson and I am a third year majoring in Sociology with a minor in Education. I hail from sunny San Clemente, CA where the best (and only) thing to do is hit the beach. Other than that I love bumpin’ tunes, traveling the world, and anything else that makes me smile. My favorite experiences at Cal have been the random adventures with my sisters and friends, ranging from spontaneous road trips to dance parties in the TV room and always with brunch in between. Going Greek opened up a world of possibility, providing me with a unique and connected life at Cal. This will by my second year as a recruitment counselor and I can’t wait to do it again, making sure y’all get the most out of recruitment and Greek life. Cheers!</p>

    <em>Lauren Mosley</em>
    <p>Why, hello there! My name is Lauren Mosley, and I’m a sophomore majoring in molecular and cell biology! I’ve journeyed here from Voorhees, New Jersey (no, not everyone there is orange), and I fall more and more in love with Cal every day! My favorite experience at Cal was hiking up to the Big C; I was breathless, and not just because of the hike! I love dancing, both hip-hop and ballet, leisure reading, and crafting! I love being part of the Greek community and participating in many philanthropy events! I’m so excited get to know you all and help you find your place at Cal!</p>

    <em>Connie Sun</em>
    <p>Hello! My name is Connie Sun and I am a junior double majoring in Business Administration and Psychology. I’m originally from Ventura County, CA, but the Bay Area has become home over the past 3 years. My favorite Cal experience is no doubt gamedays and football--nothing beats Cal pride:) In my free time I love attending music festivals, snowboarding, exploring SF with friends, and eating all foods Berkeley. Deciding to join the Greek community has been an amazing experience and has gifted me with some of my best friends and memories I know I’ll have for a lifetime. I am so excited to meet you all and can’t wait to help you find your home here at Cal. Go Bears!</p>

    <em>Samantha Smith</em>
    <p>Hi guys! My name is Sami Smith, and I am a second year Political Economy major. Berkeley is my new home, but my heart will always be in SoCal- I had lived in Long Beach my entire life prior to residing in the Bay area. I love outdoor activities, swimming, baking, running, and anything that involves the beach or water! The thing that makes Cal stand out to me are the people; we are a diverse and incredible group that takes immense pride in our school, education, extracurriculars. The enthusiasm about life creates a vibe on campus that is hard to rival. Yet, there are 25,000 of us, and that is where the Greek community plays a role in my life. It’s a smaller sample of Cal’s amazing students, and it’s where I find the support and lifelong friendships that are crucial to making it through the crazy college days. I am stoked to meet all of you, and hope you fall in love with Cal as much as I have! Go Bears!</p>

    <em>Ayesha Bhardwaj</em>
    <p>Hello! My name is Ayesha Bhardwaj, and I am a third year Business Administration major! I was born and raised in the Bay Area. One of my favorite memories at Cal so far has been my first Cal Day as a Freshman! It was so much fun walking around campus and seeing all of the amazing school spirit at work. I enjoy running and hiking, traveling, and eating lots of delicious food! For me, the best thing about being in the Greek system is that it has provided me with a small, close-knit community through which I have been able to meet so many interesting and amazing people! I am so excited to get to know all of you and to help you find your home at Berkeley! Go Bears!</p>

    <em>Allie Hughes</em>
    <p>Hi Everyone! My name is Allie Hughes. I am a third year Physics and Astrophysics double major from Newport Beach, CA. My favorite parts about coming to Cal are all the wonderful people that I meet every day and all the exciting things that I get to learn. It's cheesy, I know, but seriously, every day can be a new adventure. I get to build circuits and study planets, and also go to amazing concerts and eat great food. And I can always come home to relax with my sisters and watch crazy reality tv shows. I am so happy with my decision to go through Fall Formal Recruitment, and even happier that I get the chance to help you begin your amazing journey as well!</p>

    <em>Pooja Shah</em>
    <p>Hello there! My name is Pooja Shah, and I am a senior majoring in American Studies from Pasadena, CA. My favorite experience at Cal thus far has definitely been attending the past 3 Greek Giant’s nights. I really enjoy playing board games (settlers of Catan anyone?), watching reality TV, and cooking (I’m a big fan of trying out recipes from Top Chef or Hell’s kitchen!). I love going pan-hellenic wide events, including Greek Week, philanthropy events, and socials. I know the formal fall recruitment process may seem a little daunting, but I promise that few days of work will provide you a sisterhood and memories that will last a lifetime. I can’t wait to help you all make the best decision you’ve made since coming to Cal!</p>

    <em>Jackie Woods</em>
    <p>Hey there! My name is Jackie Woods and I’m a junior from the land of the 12th man (go Seahawks!) otherwise known as Seattle, WA. I’m majoring in Interdisciplinary Studies with a focus on psychology, business, and media studies, and I hope to one day work in sports marketing. My favorite things to do are road tripping, listening to music, and being in the sunshine, and my most memorable experiences at Cal have involved all of these things! What I’ve enjoyed most about the Greek system is the enormous sense of community and friendship it promotes across campus as a whole; I love that I’m always able to find others with similar interests and build relationships across a diverse and amazing group of people. Berkeley is an incredible school full of awesome, talented students, and I feel so privileged to be able to call this campus home. I can’t wait to meet all of you and help you find your own place at Cal! Go Bears!</p>

    <em>Lindsey Whitley</em>
    <p>Hey there! I'm Lindsey Whitley, a third year Chemical Engineering major from Yorba Linda, California. My favorite experiences in Berkeley, thus far, have been the Dead Week adventures and laughs I've had with my friends. I love puppies, laughing, learning the ways that other people think, and taking Buzzfeed quizzes. The best part of the Cal Greeks community is the group of amazing, interesting, diverse people and friends of which it consists. I am stoked to help the newest members of the Panhellenic community find their homes in Berkeley!</p>

    <em>Annie Bates</em>
    <p>Hi everyone! My name is Annie Bates and I’m a second year majoring in Media Studies with a minor in Rhetoric, and I’m from Newport Beach, California. Being at Cal has been full of countless incredible moments, but my favorite experience thus far was watching the 2012 presidential election results on Sproul with thousands of other students. In my free time love dancing, creative writing, and going to concerts in the city with friends! My favorite part about the Greek community at Berkeley is that it is truly a group of supportive, diverse, and passionate people that inspire me every day to be the best version of myself! I’m so excited to meet all of you during Fall Formal Recruitment and I can’t wait to help you find your home away from home!</p>

    <em>Charlie Reed</em>
    <p>Hi all! My name is Charlie Reed and I am a junior from San Diego, majoring in Society & Environment and minoring in Public Policy. In my free time, I love traveling, yoga, going to concerts,the beach and hiking with friends. It is so hard to choose the thing I love about Berkeley the most, but I have to say that the student body here is truly incredible. I find myself constantly surrounded by passionate, intelligent, enthusiastic people that are always encouraging me to try new things. Being a member of the Greek community, I have been exposed to an awesome set of Golden Bears and have honestly found a home away from home. I am so excited to be a part of your Panhellenic experience, and I know that Cal has so much to offer you-- I never want to graduate!</p>

    <em>Carolyn Gage</em>
    <p>Hi guys! My name is Carolyn Gage. I am a third year double majoring in Theater & Performance Studies and History. I’m from San Francisco:) I love NorCal, but I’m also kinda in love with SoCal. I like going on adventures and trying new things. Some of my favorite experiences at Cal would have be hiking the Berkeley Hills or all the midnight In-N-Out drives with my friends. My favorite part about the Greek community is meeting so many new people and all the amazing opportunities I’ve gotten out of it. Going Greek has definitely made me a smarter, stronger, and better person. I’m still quirky and weird sometimes, but I’m definitely a more confident woman than I was when I first came to Cal. I’m so excited for Fall Formal Recruitment and can’t wait to meet everyone!</p>

    <em>Sinead Brenner</em>
    <p>Hey everyone! My name is Sinead Brenner and I’m a third year Integrative Biology major from Calabasas, California. I absolutely love living in NorCal and hope to stay up here for medical school! I love spending my time exploring San Francisco, trying new restaurants, and hiking in the gorgeous Berkeley hills. One of my favorite experiences at Cal would have to be going to Stanfurd for the big game this year. It was so much fun driving over there with all my friends and supporting our team. GO BEARS! Being a part of the Greek community has easily allowed me to get involved in so many great things, like being a recruitment counselor! On that note, I could not be more excited to meet everyone and help you find your home away from home!</p>

    <em>Tina Zhu</em>
    <p>Hi y'all! My name is Tina, and I am a senior finishing at Cal this December. My major is Economics, and my minor is Dance & Performance Studies. (Yes, that is a department on campus.) I am from Porter Ranch, located in the outskirts of Los Angeles County, and my favorite experience at Cal has been getting to know the people here, hands down. I love creative expression, catching up with friends over coffee, just breathing, and being helpful wherever I can. My favorite part of the Greek community is our passion and drive. I am so glad to be a part of fall recruitment and your experience at Cal! See you soon!</p>

    <em>Megan Schneider</em>
    <p>Hello! My name is Megan Schneider and I am a second year Cognitive Science major from Portland, Oregon. I love reading a good book and sitting in the sun around campus on a nice day. My favorite experience at Cal so far was the homecoming football game against UCLA my freshman year when Cal won in the upset of the century (and my family was here to see it, too!). My favorite part of the Greek community is seeing friendly faces from all chapters in my classes. I cannot wait to meet you all and help you through Fall Formal Recruitment!</p>

    <em>Lauren Wishek</em>
    <p>Hi there, my name is Lauren Wishek and I’m a third year English major and education minor from Elk Grove, California. My favorite experience at Cal so far was definitely the first real game day my sophomore year when everyone returned to Memorial after spending a year at AT&T park in San Francisco. Talk about some Cal pride, I’ve never seen our streets or our stadium so packed with students and alumni!! I’m a huge bookworm who loves animals and anything outside. My one true love aside from Cal is dance! My favorite part of Greek life is participating in all of the house’s philanthropy events. Each house has a fun event, and it’s so nice to see the support from everyone in the community. Can’t wait to meet all of you and help you find your place in this awesome community! Welcome to Cal!!</p>


    <em>Heidi Cheung</em>
    <p>Hello! :D My name is Heidi, and I’m a super senior double majoring in Legal Studies and Anthropology! I was born in Hong Kong, and immigrated when I was 4. Since then, I’ve been all over the East Bay, but mainly in Danville, which is 30 minutes East from Berkeley. One of my favorite things about Cal is that if you take the back roads up behind the baseball stadium, past Lawrence Hall of Science, there’s a spot called Fish Ranch a.k.a. Grizzly Peak that has a great view of the Bay Area. I love going up there with sorority sisters on clear nights to get some fresh air. Besides that, I also like to go to the beach, go on hikes, snowboard, play piano, and compete in pageants! My favorite part of the Greek community is that even after graduation, my sorority will always be a home away from home! Joining a sorority was one of the best decisions I’ve made and I am stoked to be a part of your journey to finding a home at Cal!</p>

    <em>Tavi Kessler</em>
    <p>Hi everyone! My name is Tavi Kessler and I’m a third year Psychology and Legal Studies double major from Albany, California. I love doing yoga, travelling, going to concerts, and photography. Going to Cal and going Greek have been two of the best decisions I’ve ever made! Being a part of Greek life at UC Berkeley has made my college experience so amazing and unforgettable. Some of my favorite experiences at Cal have been gamedays, exploring the Bay Area, and studying at cafes with friends. This will be my second year as a recruitment counselor, and I’m beyond excited to meet you all and share in the amazing experience that you are about to have. GO BEARS!</p>
  </div>

  <div class='section-title' id='title-cob'>
    Spring Informal Recruitment 2014
  </div>
  
  <div class='section-content' id='content-cob'>
    Spring Informal Recruitment is also known as “Continuous Open Bidding” (COB)
 
    Recruitment events are organized and coordinated by each chapter individually for the purpose of membership intake. Chapters are not required to participate in spring recruitment. Although chapters may extend bids to potential new members (PNMs) at any point during the semester, chapters typically hold a few events at the beginning of the spring semester to meet potential new members. The schedule of spring recruitment events is posted online and women may RSVP to the chapter contact listed.
﻿
    ﻿<h4>Frequently Asked Questions</h4>

    Q: <em>Do I need to register for spring recruitment?</em>

    A: Registration is not necessary for spring recruitment. Instead, you can find out about the different chapters’ events by visiting their Facebook event pages (links are provided below). You simply show up at the events that you’d like to attend. If you find that two events conflict with one another, you should email the chapter Vice President of Membership (her contact information should be available on the Facebook event page) and discuss the situation with her.

    Q: <em>What should I wear to spring recruitment events?</em>

    A: Each chapter determines what kind of attire is appropriate for their events. This information is provided below and on each chapter’s Facebook event page.
 
    If you have any questions or concerns, please feel free to contact the Panhellenic Vice President of Membership, Alexis Newman at phc.membership@calgreeks.com.
  </div>

  <div class='about-sidebar'>
    <% include sidebar %>
  </div>

</div>


