<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to UC Berkeley Panhellenic Council</p>

    <!-- Body - Windows -->
  <div class='window' id='window-about'>
    <div class='window-content' id='about-content'>

      <div class='section-title' id='section-leadership'>
        Leadership:Executive Officer 2014
      </div>
      <div class='section-content' id='leadership-content'>
        President...VP...
      </div>

      <div class='section-title' id='section-scholarship'>
        Scholarship:Academics
      </div>
      <div class='section-content' id='scholarship-content'>
        Scholar of the Month Program ....
      </div>
    </div>


    <div class='about-sidebar'>
      <% include partials/sidebar %>
    </div>

	</div>



	<div class='window' id='window-recruitment'>

	</div>



	<div class='window' id='window-member-resources'>

	</div>


    <!-- Footer -->
    <div id='footer'>
	
	</div>
  </body>
</html>
