<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to UC Berkeley Panhellenic Council</p>

    <!-- Body - Windows -->
  <div class='window' id='window-about'>
    

      <% include partials/about %>

    

	</div>



	<div class='window' id='window-resources'>
    

     
    <% include partials/about %>

    


	</div>



	<div class='window' id='window-recruitment'>
    

     
    <% include partials/recruitment %>

    

	</div>


    <!-- Footer -->
    <div id='footer'>
	
	</div>
  </body>
</html>
