<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to UC Berkeley Panhellenic Council</p>

    <!-- Body - Windows -->
  <div class='window' id='window-about'>
    <div class='window-content' id='about-content'>

      <% include partials/about %>

    </div>

	</div>



	<div class='window' id='window-resources'>
    <div class='window-content' id='resources-content'>

     
    <% include partials/about %>

    </div>


	</div>



	<div class='window' id='window-recruitment'>
    <div class='window-content' id='recruitment-content'>

     
    <% include partials/recruitment %>

    </div>

	</div>


    <!-- Footer -->
    <div id='footer'>
	
	</div>
  </body>
</html>
