
<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/syle.css" rel="stylesheet">

  </head>
  <body>
    

<div align="center">
<div class="row">
  <div class="col-md-5">
    <img src="/images/logo_home.png">
      </div>

  
<div class="row">



      <div class="col-md-3">
        <div id="box-container-1">

        <h1>About</h1>
        Lorem ipsum dolor sit amet, cu est dolore comprehensam vituperatoribus, nam ne error invidunt posidonium. Te mel eripuit bonorum, cibo consetetur vel at, usu no labore debitis. Purto dictas posidonium vix an. Et sed deleniti indoctum. Laudem delenit torquatos sea id.
        Mel sumo delenit delicatissimi ex, usu facilisi quaestio no. In nisl dicat eos, eum ex simul mollis, nec eu graeco aliquip maiestatis. Molestie philosophia eu has. No pro tempor laoreet, ei vix lorem constituto efficiantur.Lorem ipsum dolor sit amet, cu est dolore comprehensam vituperatoribus, nam ne error invidunt posidonium. Te mel eripuit bonorum, cibo consetetur vel at, usu no labore debitis. Purto dictas posidonium vix an. Et sed deleniti indoctum. Laudem delenit torquatos sea id.
        Mel sumo delenit delicatissimi ex, usu facilisi quaestio no. In nisl dicat eos, eum ex simul mollis, nec eu graeco aliquip maiestatis. Molestie philosophia eu has. No pro tempor laoreet, ei vix lorem constituto efficiantur.Lorem ipsum dolor sit amet, cu est dolore comprehensam vituperatoribus, nam ne error invidunt posidonium. Te mel eripuit bonorum, cibo consetetur vel at, usu no labore debitis. Purto dictas posidonium vix an. Et sed deleniti indoctum. Laudem delenit torquatos sea id.
        
        </div>
      </div>


      <div class="col-md-3">
        
        <a style="text-decoration: none" href="modal-target.html" data-target="#myModal" role="button" data-toggle="modal">
        <div id="box-container-2">

        <h1>Members Resources</h1>
        Lorem ipsum dolor sit amet, cu est dolore comprehensam vituperatoribus, nam ne error invidunt posidonium. Te mel eripuit bonorum, cibo consetetur vel at, usu no labore debitis. Purto dictas posidonium vix an. Et sed deleniti indoctum. Laudem delenit torquatos sea id.
        Mel sumo delenit delicatissimi ex, usu facilisi quaestio no. In nisl dicat eos, eum ex simul mollis, nec eu graeco aliquip maiestatis. Molestie philosophia eu has. No pro tempor laoreet, ei vix lorem constituto efficiantur.Lorem ipsum dolor sit amet, cu est dolore comprehensam vituperatoribus, nam ne error invidunt posidonium. Te mel eripuit bonorum, cibo consetetur vel at, usu no labore debitis. Purto dictas posidonium vix an. Et sed deleniti indoctum. Laudem delenit torquatos sea id.
        Mel sumo delenit delicatissimi ex, usu facilisi quaestio no. In nisl dicat eos, eum ex simul mollis, nec eu graeco aliquip maiestatis. Molestie philosophia eu has. No pro tempor laoreet, ei vix lorem constituto efficiantur.Lorem ipsum dolor sit amet, cu est dolore comprehensam vituperatoribus, nam ne error invidunt posidonium. Te mel eripuit bonorum, cibo consetetur vel at, usu no labore debitis. 
        </div>
      </a>

      </div>

      <div class="col-md-3">
        <div id="box-container-3">

        <h1>Recruitment</h1>
        Lorem ipsum dolor sit amet, cu est dolore comprehensam vituperatoribus, nam ne error invidunt posidonium. Te mel eripuit bonorum, cibo consetetur vel at, usu no labore debitis. Purto dictas posidonium vix an. Et sed deleniti indoctum. Laudem delenit torquatos sea id.
        Mel sumo delenit delicatissimi ex, usu facilisi quaestio no. In nisl dicat eos, eum ex simul mollis, nec eu graeco aliquip maiestatis. Molestie philosophia eu has. No pro tempor laoreet, ei vix lorem constituto efficiantur.Lorem ipsum dolor sit amet, cu est dolore comprehensam vituperatoribus, nam ne error invidunt posidonium. Te mel eripuit bonorum, cibo consetetur vel at, usu no labore debitis. Purto dictas posidonium vix an. Et sed deleniti indoctum. Laudem delenit torquatos sea id.
        Mel sumo delenit delicatissimi ex, usu facilisi quaestio no. In nisl dicat eos, eum ex simul mollis, nec eu graeco aliquip maiestatis. Molestie philosophia eu has. No pro tempor laoreet, ei vix lorem constituto efficiantur.Lorem ipsum dolor sit amet, cu est dolore comprehensam vituperatoribus, nam ne error invidunt posidonium. Te mel eripuit bonorum, cibo consetetur vel at, usu no labore debitis.
        </div>
      </div>

      

    </div>
</div>
</div>



<!-- About Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <% include partials/about.ejs %>
      </div>
    </div>
  </div>
</div>

<!-- Members Resources Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Members Resources</h4>
      </div>
      <div class="modal-body">
        <% include partials/members-resources.ejs %>
      </div>
    </div>
  </div>
</div>

<!-- Recruitment Modal -->
<!-- About Model-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Recruitment</h4>
      </div>
      <div class="modal-body">
        <% include partials/recruitment.ejs %>
      </div>
    </div>
  </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<div class='footer'>
  <% include partials/footer.ejs %>
</div>
  </body>
</html>
