<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to UC Berkeley Panhellenic Council</p>

    <!-- Body - Windows -->
    <div class='window' id='window-about'>

	</div>

	<div class='window' id='window-recruitment'>

	</div>

	<div class='window' id='window-member-resources'>

	</div>


    <!-- Footer -->
    <div id='footer'>
	
	</div>
  </body>
</html>
