body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: black;
    cursor: default;
}

#box-container-1 {
  width: 100%;
  height: 100%;
  background: #F0E6DD;
  color:#F6C0C3;
  cursor: pointer;
}

#box-container-2 {
  width: 100%;
  height: 100%;
  background: #C5CDCF;
  color:#F6F7E8;
  cursor: pointer;
}

#box-container-3 {
  width: 100%;
  height: 100%;
  background: #F6F7E7;
  color:#2F3538;
  cursor: pointer;
}
div.modal-dialog {
    width: 95%;
    height: 95%;
}
div.modal-content {
    width: 100%;
    height: 100%;
}

