body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

#box-container-1 {
	width: 100%;
	height: 100%;
	background: #F0E6DD;
	color:black;
}

#box-container-2 {
	width: 100%;
	height: 100%;
	background: #C5CDCF;
	color:white;
}

#box-container-3 {
	width: 100%;
	height: 100%;
	background: #F6F7E7;
	color:black;
}
div.modal-dialog {
    width: 95%;
    height: 95%;
}
div.modal-content {
    width: 100%;
    height: 100%;
}

